<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulário</title>
</head>
<body>
    <form action="">
        <label for="name">Nome</label>
        <input type="text" name="nome" id="name">
        
        <label for="description">Descrição</label>
        <textarea name="descricao" id="description" cols="30" rows="10"></textarea>

        <label for="qtd">Quantidade</label>
        <input type="number" name="Quantidade">

        <label for="price">Preço</label>
        <input type="number" name="preco" id="price" step="0.01">

        <button type="submit">Criar</button>
    </form>
</body>
</html>